body{
    background-image: linear-gradient(120deg, #ffffff);
    text-align: center;
    color: #e9e9e9;
    font-family: "Exo", sans-serif;
}

h1{
    color: #e9e9e9;
    font-size: 20px;
    /* display: flex;
    margin-right: 120px;
    margin-top: 30px; */
    margin-top: 40px;
    position: fixed;
}

h1::before{
    width: 200px;
    height: 50px;
    content: "";
    background-image: linear-gradient(185deg, #fff9f0, #452f39);
    display: block;
    position: absolute;
    left: 50%;
    top: -70px;
    transform: translateX(-50%);
    border-radius: 20px;

}

/* h2{
    font-size: 10px;
    text-align: center;
    margin-top: 230px;

} */

.title{
    font-size: 40px;
    color: #1d181c;
}

.descritption{
    position: relative;
    margin-top: 80px;
    margin-right: 13px;
    margin-left: 20px;
    max-width: fit-content;
    text-align: left;
}

/* .button{
    top:5px;
    left: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-color: white;

} */

.wrap{
    display: flex;
    justify-content: space-around;   
    margin-top: 250px;
}

.block1{
    display: flex;
    position: relative;
    justify-content: space-around;
    top: 10px;
    left: 30px;
    width: 350px;
    height: 300px;
    background: linear-gradient(120deg, #1d181c, #36251d, #c7b0aa, #36251d, #36251d);
    background-size: 500% 500%;
    animation: color 15s ease-in-out infinite;
    border-radius: 50px;
    box-shadow: 0px 20px 20px rgba(34, 24, 23, 0.5); 
}

@keyframes color{
    0%{
        background-position: 0 50%;

    }
    50%{
        background-position: 100% 50%;

    }
    100%{
        background-position: 0 50%;
    }
    
}

footer {
    background-color: #231f20;
    color: white;
    display: block;
    height: 400px;
    left: 0;
    position: absolute;
    width: 100%;
    position: fixed;
    margin-top: 230px;
}

/* .footers{
    padding-top: 235px;
    
} */

h4{

    color: #e9e9e9;
    font-size: 14px;
}

button{
    top: 50px;
    display: flex;
    justify-content: flex-start;
    width: 120px;
    height: 60px;
    border-radius: 50px;
    background-color: #1d181c;
    
} 

.logo{
    position: absolute;
    top: 60px;
    margin-left: 160px;
    width: 10px;
    height: 10px;
}

h6{
    font-size: 14px;
    bottom: center;
    margin-top: 22px;
}

.box_black{
    background-color: red;
    width: 150px;
    height: 25px;
    border-radius: 15px;
    margin-top: 100px;
    
}